pyTelegramBotAPI
requests
fpdf2
arabic-reshaper
python-bidi
duckduckgo-search
firebase-admin
beautifulsoup4
googlesearch-python
ascii-magic
google-generativeai
pillow
python-dotenv
gTTS
pydub
SpeechRecognition
