name: MiTV Pro Engine (Copyright Safe)

on:
  workflow_dispatch:
    inputs:
      video_link:
        description: 'Video URL (Direct link)'
        required: true
      audio_link:
        description: 'Custom Audio URL (Optional - leave empty for original)'
        required: false
        default: ''
      stream_key:
        description: 'YouTube Stream Key'
        required: true

jobs:
  broadcast:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Media Tools
        run: sudo apt-get update && sudo apt-get install -y ffmpeg fonts-dejavu

      - name: Start 24/7 Engine
        run: |
          VIDEO="${{ github.event.inputs.video_link }}"
          AUDIO="${{ github.event.inputs.audio_link }}"
          KEY="${{ github.event.inputs.stream_key }}"
          LOGO="logon.png"

          while true; do
            echo "--- MiTV Station Online for Muaaz Iqbal ---"

            # 1. Media & Copyright Logic
            if [ -z "$AUDIO" ]; then
              # Sirf Video hai: Audio ki pitch badal do (Copyright Safety)
              INPUTS="-re -stream_loop -1 -i $VIDEO"
              AUDIO_FILTER="asetrate=44100*1.05,atempo=0.95"
              AMAP="0:a"
            else
              # Custom Audio hai: No pitch change needed
              INPUTS="-re -stream_loop -1 -i $VIDEO -re -i $AUDIO"
              AUDIO_FILTER="copy"
              AMAP="1:a"
            fi

            # 2. Visual Filters (Logo + Live Time Box)
            # Time logic direct FFmpeg se: %{localtime\:%I\:%M\:%S %p}
            V_FILTER="[0:v]scale=1280:720[bg]; \
            movie=$LOGO,scale=130:-1[logo_img];[bg][logo_img]overlay=20:20[v_logo]; \
            [v_logo]drawbox=y=130:x=20:w=260:h=90:color=black@0.6:t=fill[box]; \
            [box]drawtext=fontfile=/usr/share/fonts/truetype/dejavu/DejaVuSans-Bold.ttf:text='%{localtime\\:%I\\:%M\\:%S %p}':x=40:y=150:fontsize=30:fontcolor=white[t1]; \
            [t1]drawtext=fontfile=/usr/share/fonts/truetype/dejavu/DejaVuSans-Bold.ttf:text='%{localtime\\:%d-%b-%Y}':x=40:y=185:fontsize=20:fontcolor=yellow[final_v]"

            # 3. Execution
            if [ "$AUDIO_FILTER" == "copy" ]; then
              ffmpeg -y $INPUTS -filter_complex "$V_FILTER" -map "[final_v]" -map $AMAP \
              -c:v libx264 -preset veryfast -b:v 3000k -c:a aac -b:a 128k -f flv "rtmp://a.rtmp.youtube.com/live2/$KEY"
            else
              ffmpeg -y $INPUTS -filter_complex "$V_FILTER" -filter:a "$AUDIO_FILTER" -map "[final_v]" -map $AMAP \
              -c:v libx264 -preset veryfast -b:v 3000k -c:a aac -b:a 128k -f flv "rtmp://a.rtmp.youtube.com/live2/$KEY"
            fi

            echo "Restarting in 5s..."
            sleep 5
          done
